@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('_variable.css');
body{
        
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
}

/* nav */
header{
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    position: sticky;
    top: 0;
    background: white;
}

header .navbar{
    padding: 1rem 3rem;
    font-size: 17px;

   
}

header .navbar-brand{
    padding: 0 2rem 0 2rem;
}

header .navbar a{
    font-weight:500;
    color: black !important;
    
    
}
header .navbar a:hover{
   
   color: var(--primary-color) !important;
    
}
header .navbar .active{
   
   color:var(--primary-color) !important;
    
}

#heart-icon{
   font-size: 22px;
   
}
#heart-icon:hover{
   
    color: rgb(248, 16, 55) !important;
}
header li{
    margin-right: 10px;
}


/* nav-end */



/* home-section */

.home-section{
    padding-top:12%;
    /* padding-bottom: 12%; */
    
    height:76vh;
    
    
}

.home-section p{
    font-size: 1.5rem;
    padding: 0;
    font-weight: 400;
    color: rgb(78, 87, 92);
    padding-left: 2px;
    
   
}
.home-section h4{
    font-size: 1rem;
    padding-left: 2px;
}

.name{
    font-size: 2rem;
    padding: 0;
}

.home-btn{
    
   
    transition: background 0.5s ease ;
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    
    
}
.home-btn:hover{
   
    background: white;
    color: black;   
}

.home-btn:focus{
    box-shadow: none;
   /* background:var(--primary-color);
   color: white; */
   
}

.button{
   margin-top: 1.1rem;

}

/* social-icons */
.icons-div a{
    color: #333333;
    margin-top: 1rem;
    padding: 1.8rem;
    font-size: 30px;
    
}



.linkedin:hover{
    color:  #0072b1;
    
}

.facebook:hover{
    
    color: #4267B2;
}
.twitter:hover{
    
    color: #00acee;
}
.github:hover{
   
    color: rgb(39, 37, 37);
  
}
.instagram:hover{
    background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

}

.discord:hover{
    color:#5865F2;
}


/* end-social-icons */




@media only screen and (max-width:451px){
    .home-section{
     
        height:80vh;
        /* background-color: red; */
        
        
    }

}

/* end-home-section */



/* About section */
.abt{
    height: 100vh;
    padding-top: 12%;
}

/* end About section */



/* project-section */

.cards{
    height: 17rem;
    width: 17rem;
    margin: 1.2rem;
    border-radius: 4px;
    border: 0.1px solid var(--primary-color);
    /* box-shadow: var(--primary-color) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  
}

.project{
    padding-top: 6%;
    
}
/*end- project-section */




/* contact-section */
.contact{
    height: 85vh;
    padding-top: 5%;
}
#contact-desc{
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   padding-right: 15rem;
   padding-left: 15rem;
}

@media only screen and (max-width:746px){
    
    #contact-desc{
        display:contents;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
     
       
        background-color: red;
        font-size: 16px;
       
     }
     .contact .home-btn{
         margin-top: 0.9rem;
         display: block;
     }
    
}



/* end-contact-section */

/* footer */

footer a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
footer a:hover{
    
    color: var(--primary-color);
}
/*end- footer */




